<input
  #input
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
  class="autocomplete__input"
  type="text"
  role="combobox"
  autocomplete="off"
  aria-haspopup="listbox"
  [attr.id]="id()"
  [attr.aria-expanded]="isOpen()"
  [attr.aria-controls]="id() + '-listbox'"
  [attr.aria-activedescendant]="activeIndex() >= 0 ? id() + '-option-' + activeIndex() : null"
  [value]="query()"
  [disabled]="disabled()"
  [placeholder]="placeholder()"
  (input)="onInput($any($event.target).value)"
  (focus)="onFocus()"
  (keydown)="onKeydown($event)"
/>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayWidth]="panelWidth()"
  (overlayOutsideClick)="close()"
>
  <ul class="autocomplete__panel" role="listbox" [attr.id]="id() + '-listbox'">
    @for (option of options(); track option.value; let i = $index) {
      <!-- ARIA combobox pattern: keyboard is handled on the input (arrows + Enter)
           via aria-activedescendant; options are not individually focusable. -->
      <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
      <li
        class="autocomplete__option"
        role="option"
        [id]="id() + '-option-' + i"
        [class.autocomplete__option--active]="i === activeIndex()"
        [attr.aria-selected]="option.value === value()"
        (click)="selectOption(option)"
      >
        {{ option.label }}
      </li>
    } @empty {
      @if (emptyActionLabel()) {
        <li class="autocomplete__empty">
          <button type="button" class="autocomplete__empty-action" (click)="triggerEmptyAction()">
            {{ emptyActionLabel() }}
          </button>
        </li>
      } @else {
        <li class="autocomplete__empty">Aucun résultat</li>
      }
    }
  </ul>
</ng-template>
