
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/api/vendor
###< symfony/framework-bundle ###

###> app cache/logs ###
/api/var/
###< app cache/logs ###
